:root {
  --main-light-bg-color: hsl(152, 9%, 61%);
  --main-light-color: hsl(173, 16%, 21%);
  --main-light-color-transparent: hsla(173, 16%, 21%, 0.03);
  --main-light-accent: hsl(30, 100%, 60%);
  --main-dark-bg-color: hsl(173, 16%, 21%);
  --main-dark-color: hsl(50, 12%, 69%);
  --main-dark-color-transparent: hsla(50, 12%, 69%, 0.05);
  --main-dark-accent: hsl(60, 100%, 71%);
  --highlight-color: violet;

  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 1vw);

  color-scheme: light dark;
  color: var(--main-dark-color);
  background-color: var(--main-dark-bg-color);
  background-image: linear-gradient(
      var(--main-dark-color-transparent) 2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      var(--main-dark-color-transparent) 2px,
      transparent 2px
    );
  background-size: 10px 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
span,
details {
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

a,
button {
  font-size: 1.5em;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: var(--main-dark-accent);
  border: 0.25rem solid var(--main-dark-accent);
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  background-color: var(--main-dark-color-transparent);
  outline: 0.01rem solid transparent;
  transition: outline 300ms;
  cursor: pointer;
}
a:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
a span,
button span {
  display: inline-block;
  scale: 1;
  transition: scale 300ms;
}

summary {
  color: var(--main-dark-accent);
  cursor: pointer;
  z-index: 10;
}

a:hover,
button:hover,
summary:hover {
  filter: hue-rotate(45deg);
}

a:hover span,
button:hover span {
  scale: 1.1;
}

a:active span,
button:active span {
  scale: 0.9;
}

a:focus,
button:focus,
summary:focus {
  outline: 0.25rem var(--highlight-color) solid;
}

.dashed-under-border {
  border-bottom: dashed 0.25rem;
  padding-bottom: 0.25rem;
}

.fit-container {
  width: fit-content;
  margin: auto;
}

.full {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.end {
  justify-content: flex-end;
}
.between {
  justify-content: space-between;
}
.margin-right {
  margin-right: 1em;
}
.card {
  position: relative;
  width: clamp(250px, 50vh, min(500px, 80vw));
  height: clamp(250px, 50vh, min(500px, 80vw));
  aspect-ratio: 1 / 1;
  background-color: var(--main-dark-color);
  /* color: var(--main-dark-bg-color); */
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card > p:first-child {
  position: absolute;
  right: 0.25rem;
  top: -0.25rem;
  font-size: 0.5em;
}
.card > p:nth-child(2) {
  position: absolute;
  left: 0.25rem;
  top: -0.25rem;
  font-size: 0.5em;
}
.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card div .bar {
  background-color: black;
  height: 0.25rem;
  width: 120%;
}

.card div p {
  align-self: end;
}

.card-contents {
  line-height: 1.1;
}

.operation {
  display: inline-block;
  scale: 1.5;
}

.activeResults {
  height: 50px;
  width: 250px;
  border-radius: 25px;
  background-color: var(--main-dark-color);
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.activeResults img {
  position: absolute;
  height: 44px;
  width: 44px;
  margin: 3px;
  animation: grow 0.5s cubic-bezier(0.25, 0, 0.6, 1.25);
  transition: right 0.3s linear;
}
.activeResults .incorrect {
  transform: rotate(45deg);
}
.correction {
  color: var(--main-dark-accent);
}

.push-right:has(.caret) {
  position: relative;
  left: 0.5rem;
}

.caret {
  color: var(--highlight-color);
  animation: flashing 1s ease-in-out infinite;
}
.confetti {
  max-width: none;
  opacity: .5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--main-light-color);
    background-color: var(--main-light-bg-color);
    background-image: linear-gradient(
        var(--main-light-color-transparent) 2px,
        transparent 2px
      ),
      linear-gradient(
        90deg,
        var(--main-light-color-transparent) 2px,
        transparent 2px
      );
  }
  a,
  button{
    color: var(--main-light-accent);
    border-color: var(--main-light-accent);
    background-color: var(--main-light-color-transparent);
  }
  summary {
    color: var(--main-light-accent);
  }
  .activeResults {
    background-color: var(--main-light-color);
  }
  .correction {
    color: var(--main-light-accent);
  }
  .card {
    background-color: var(--main-light-color);
    color: white;
  }
  .card div .bar {
    background-color: white;
  }
  a:hover,
  button:hover {
    filter: hue-rotate(-45deg);
  }
}
